<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ida:Tenant" value="" />
    <add key="ida:ClientId" value="" />
    <add key="ida:AppKey" value="" />
    <add key="ida:ResourceID" value="" />
    <add key="ida:AADInstance" value="" />
    <add key="ida:EndAddress" value=""/>
  </appSettings>
</configuration>